@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Общая статистика</h1>

<div class="row">
    <div class="col-md-5">
        <canvas id="containerDiversPerStation" height="250"></canvas>
    </div>

    <div class="col-md-7">
        <canvas id="containerDivingTimePerStation" height="200"></canvas>
    </div>
</div>
<div>
    <canvas id="containerAverageDivingTimePerStation"></canvas>
</div>

<div class="modal fade" id="confirmDeleteDiver" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmTitle">Подтверждение перехода на станцию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="RedirectToDivers" asp-controller="Dashboard" method="post">
                    <label id="confirmText" class="input-name"></label>

                    <input id="index" type="hidden" name="index" />
                    <div class="modal-footer align-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button id="confirm" type="submit" class="btn btn-primary">Перейти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var stationsName = @Json.Serialize(ViewBag.stationsName); 
    var topStationsName = @Json.Serialize(ViewBag.topStationsName);
    var totalDivingTime = @Json.Serialize(ViewBag.totalDivingTime);
    var diversCount = @Json.Serialize(ViewBag.diversCount);
    var averageDivingTime = @Json.Serialize(ViewBag.averageDivingTime);

    var defaults = {
        animation: true,
        animationSteps: 1000,
        animateRotate: true,
        animateScale: false,
        onAnimationComplete: null
    };

    var containerDiversPerStation = document.getElementById('containerDiversPerStation').getContext('2d');
    var diversPerStationChart = new Chart(containerDiversPerStation, {
        type: 'pie',
        data: {
            labels: topStationsName,
            datasets: [{
                label: 'Водолазов на станции',
                data: diversCount
            }]
        },
        options: GetOptions('Количество водолазов на станции')
    });

    var containerDivingTimePerStation = document.getElementById('containerDivingTimePerStation').getContext('2d');
    var divingTimePerStationChart = new Chart(containerDivingTimePerStation, {
        type: 'horizontalBar',
        data: {
            labels: stationsName,
            datasets: [{
                label: 'Часов погружения',
                data: totalDivingTime
            }]
        },
        options: GetOptions('Количество часов погружения на станциях')
    });

    var containerAverageDivingTimePerStation = document.getElementById('containerAverageDivingTimePerStation').getContext('2d');
    var averageDivingTimePerStationChart = new Chart(containerAverageDivingTimePerStation, {
        type: 'horizontalBar',
        data: {
            labels: stationsName,
            datasets: [{
                label: 'Среднее количество часов погружения',
                data: averageDivingTime
            }]
        },
        options: GetOptions('Среднее количество часов погружения на станциях')
    });

    function GetOptions(title, val) {
        return {
            plugins: {
                colorschemes: {
                    scheme: 'office.BlueII6'
                },
                labels: {
                    render: 'label',
                    fontColor: '#000',
                    position: 'outside'
                },
                datalabels: {
                    color: 'white',
                    formatter: function (value, ctx) {
                        if (value > 0) {
                            return value;
                        }
                        return '';
                    }
                }
            },
            title: {
                display: true,
                text: title,
                position: 'top',
                fontSize: 14,
                padding: 20
            },
            legend: {
                display: false
            },
            defaults: defaults
        }
    }

    $("#containerDiversPerStation").click(
        function (evt) {
            var index = diversPerStationChart.active[0]._index;

            document.getElementById('index').value = index;
            document.getElementById('confirmText').innerHTML = 'Вы действительно хотите перейти на станцию: <b><i>' + topStationsName[index] + '</i></b>';

            $("#confirmDeleteDiver").modal('show');
        }
    );

    $('#diversPerStationContainer').click(function (e) {
        seriesSelection(e);
    });

    $("#confirm").click(function () {
        $("#confirmDeleteDiver").modal('hide');
        $.ajax({
            url: "/Dashboard/RedirectToDivers",
            dataType: "json",
            async: false
        });
    });
</script>