@model Diver
@{
    ViewData["Title"] = $"{Model.LastName} {Model.FirstName} {Model.MiddleName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.LastName @Model.FirstName @Model.MiddleName</h1>
<div style="display:inline;">
    <a href="/Divers" class="btn btn-primary" style="float: right; margin-top: -50px;">Вернуться к спику водолазов</a>
</div>


<div class="row">
    <div class="col-md-2">
        <img class="avatar" src=@(Model.PhotoUrl != null ? Model.PhotoUrl : "/images/avatar-default.png") height="150" width="150" />
        <button class="btn btn-primary" style="margin-left: 5px; margin-top: 5px;" data-toggle="modal" data-target="#addPhotoModal">Загрузить фото</button>
    </div>
    <div class="col-md-10">
        <h6>Родился: <i>@Model.BirthDate.ToString("D", CultureInfo.CreateSpecificCulture("ru-RU"))</i></h6>
        <h6>Адрес: <i>@Model.Address</i></h6>
    </div>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Водолазная книжка</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Станция</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Часы под водой</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="col-md-6">
            <label class="bold-label">№ Протокола: </label> @Model.PersonalBookProtocolNumber
        </div>

        <div class="col-md-6">
            <label class="bold-label">Личный Номер: </label> @Model.PersonalBookNumber
        </div>

        <div class="col-md-6">
            <label class="bold-label">Дата Выдачи: </label> @Model.PersonalBookIssueDate.ToString("D", CultureInfo.CreateSpecificCulture("ru-RU"))
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="col-md-6">
            <label class="bold-label">Спасательная Станция: </label> @(Model.RescueStation != null ? Model.RescueStation.StationName : "Станция не указана")
        </div>

        <div class="col-md-6">
            <label class="bold-label">Квалификация: </label> @Model.Qualification
        </div>

        <div class="col-md-6">
            <label class="bold-label">Дата Мед. Обследования: </label> @(Model.MedicalExaminationDate != null ? Model.MedicalExaminationDate.Value.ToString("D", CultureInfo.CreateSpecificCulture("ru-RU")) : "Дата не указана")
        </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTimeModal">Добавить</button>
        <table class="table table-striped display nowrap" id="whours-table" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Год</th>
                    <th scope="col">Время</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.WorkingTime?.Any(t => t != null) != true)
                {
                }
                else
                {
                    foreach (var i in Model.WorkingTime.Where(t => t != null))
                    {
                        @:<tr><td class="dt-center">@i.Year</td><td class="dt-center">@($"{i.WorkingMinutes / 60} часов {i.WorkingMinutes % 60} минут")</td><td class="dt-center"><button class="btn btn-danger" id="delete-time-btn" data-year="@i.Year">Удалить</button></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addTimeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить Рабочие Часы</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="year" class="input-name">Год</label>
                    <input name="year" id="year" class="form-control" type="number" min="2000" step="1" />
                </div>

                <div class="form-group">
                    <label for="minutes" class="input-name">Минуты</label>
                    <input name="minutes" id="minutes" class="form-control" type="number" min="0" step="1" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="save-time-btn" data-dismiss="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="uploadPhotoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadPhotoTitle">Добавить фото водолаза</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadPhoto" asp-controller="Divers" method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.DiverId" name="diverId" />
                    <div class="upload_form">
                        <label>
                            <input name="uploadedFile" type="file" class="main_input_file" />
                            <div>Обзор...</div>
                            <input class="f_name" type="text" id="f_name" value="Файл не выбран." disabled />
                        </label>
                    </div>
                    <div class="modal-footer align-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <input class="btn btn-primary" type="submit" value="Загрузить" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteDiver" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmTitle">Подтверждение удаления водолаза</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="DeleteDiver" asp-controller="Divers" method="post">
                    <label asp-for="FirstName" class="input-name">Для подтверждения удаления укажите имя и фамилию водолаза: <b><i>@Model.LastName @Model.FirstName</i></b></label>
                    <input asp-for="FirstName" value="" id="confirmName" class="form-control" type="text" placeholder="Фамилия Имя" data-val-required="Это поле обязательно." data-val-regex="Фамилия и имя не совпадают." data-val-regex-pattern="@Model.LastName @Model.FirstName" />
                    <span asp-validation-for="FirstName"></span>

                    <input type="hidden" value="@Model.DiverId" name="diverId" />

                    <div class="modal-footer align-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
                        <button id="confirm" type="submit" class="btn btn-danger" disabled>Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row" style="float:right;">
    <a href="/Divers/Edit?diverId=@Model.DiverId" class="btn btn-warning" style="margin:5px;">Редактировать</a>
    <button class="btn btn-danger" style="margin:5px;" data-toggle="modal" data-target="#confirmDeleteDiver">Удалить</button>
</div>


@section scripts {
    <script type="text/javascript">
        var model = @Json.Serialize(Model);

        $(function () {
            console.log(model);

            $('#confirmName').keyup(function() {
                if ($(this).val() == (model.lastName + ' ' + model.firstName)) {
                    $('#confirm').prop('disabled', false);
                } else {
                    $('#confirm').prop('disabled', true);
                }
            });

            $('#save-time-btn').click(function (e) {
                console.log($("#year").val())
                console.log($("#minutes").val())

                var year = parseInt($("#year").val());
                var minutes = parseInt($("#minutes").val());

                $.ajax({
                    url: "/Divers/AddDivingTime",
                    type: "POST",
                    data: {
                        diverId: model.diverId,
                        year: year,
                        workingMinutes: minutes
                    }
                })
                    .done(function () {
                        successAlert("Запись успешно добавлена");
                        $('#whours-table tbody').append('<tr><td class="dt-center">'+ year+ '</td><td class="dt-center">' + parseInt((minutes / 60))  + ' часов ' + (minutes % 60) + ' минут</td><td class="dt-center"><button id="delete-time-btn" class="btn btn-danger" data-year="' + year + '">Удалить</button></td class="dt-center"></tr>')

                    })
                    .fail(function (err) {
                        console.error(err);
                        errorAlert("Не удалось сохранить запись");
                    })
            });
        })
            .on('click', '#delete-time-btn', function () {
                var diverId = model.diverId;
                var year = $(this).data('year');
                var tr = $(this).closest("tr");

                console.log(diverId);
                console.log(year);

                $.ajax({
                    url: '/Divers/DeleteDivingTime',
                    method: 'DELETE',
                    data: {
                        diverId: diverId,
                        year: year
                    }
                })
                    .done(function () {
                        successAlert("Запись успешно удалена");
                        tr.remove();
                    })
                    .fail(function (err) {
                        console.error(err);
                        errorAlert("Не удалось удалить запись");
                    })
            })

            .on('click', '#delete-diver-btn', function () {
                    var diverId = model.diverId;

                    console.log(diverId);

                    $.ajax({
                        url: '/Divers/DeleteDiver',
                        method: 'DELETE',
                        data: {
                            diverId: diverId
                        }
                    })
                        .done(function () {
                            successAlert("Запись успешно удалена");
                            tr.remove();
                        })
                        .fail(function (err) {
                            console.error(err);
                            errorAlert("Не удалось удалить запись");
                        })

                })

        $(document).ready(function() {

		$(".main_input_file").change(function() {
			var f_name = [];

			for (var i = 0; i < $(this).get(0).files.length; ++i) {
				f_name.push(" " + $(this).get(0).files[i].name);
			}
			$("#f_name").val(f_name.join(", "));
		});
	});
    </script>
}